# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Local data
data/*.pkl
data/chats.json

# Audio
*.wav
*.mp3
*.ogg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
.vercel
.env*
